@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: rgba(86, 111, 130, 0.378);
}

::-webkit-scrollbar-thumb {
  background-color: #794BFF;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.heroBg {
  background: url("../images/bg.svg") ;
  background-repeat: no-repeat;
  background-size:cover;
}
.bgFooter {
  background: url("../images/bgFooter.svg") ;
  background-repeat: no-repeat;
  background-size:cover;
  margin-top: -700px;
  z-index: -10;
}
